WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement.sln
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/App.xaml
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/App.xaml.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/AssemblyInfo.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement.csproj
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/bin/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.deps.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/bin/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.runtimeconfig.dev.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/bin/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.runtimeconfig.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/project.assets.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/WhiskyDistilleryStoreManagement.csproj.nuget.dgspec.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/WhiskyDistilleryStoreManagement.csproj.nuget.g.props
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/WhiskyDistilleryStoreManagement.csproj.nuget.g.targets
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/App.g.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/App.g.i.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/MainWindow.baml
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/MainWindow.g.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.AssemblyInfo.cs
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.csproj.FileListAbsolute.txt
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.designer.deps.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.designer.runtimeconfig.json
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.g.resources
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement.GeneratedMSBuildEditorConfig.editorconfig
WhiskyDistilleryStoreManagement/WhiskyDistilleryStoreManagement/obj/Debug/netcoreapp3.1/WhiskyDistilleryStoreManagement_MarkupCompile.lref
WhiskyDistilleryStoreManagement/.vs/WhiskyDistilleryStoreManagement/DesignTimeBuild/.dtbcache.v2
PersonalTracking/PersonalTracking/PersonalTracking/obj/Debug/netcoreapp3.1/PersonalTracking_MarkupCompile.i.lref
